/* ---------------------------------------------Accordian ----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* -------------------------------Accordian Starts here ----------------------- */

/* Add a background color to the paragraph */
p {
  font-size: 0.8rem;
  padding: 10px; /* Add some padding for spacing */
}

.accordion {
  max-width: 600px !important;
  margin: 50px auto;
  box-shadow: 0 2px 25px 0 --my-pink !important;
}

.accordion-button {
  background-color: var(--rose-fog) !important;
  color: #fff !important;
  position: relative;
  box-shadow: none !important;
}

.accordion-button:active,
.accordion-button:focus {
  border: none !important;
  background-color: var(--my-pink);
}

.accordion-button:hover {
  background: var(--my-pink) !important;
}

.accordion .row {
  margin: 10px;
  padding: 10px;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important; /* This removes the default arrow */
  content: "-"; /* This is the down arrow character */
  color: #fbf3f3; /* This sets its color */
}

.accordion-button.collapsed::after {
  background-image: none !important; /* This removes the default right-facing arrow */
  content: "+"; /* This is the right arrow character */
  color: #fbf3f3; /* This sets its color */
}

.accordion-button::after {
  width: 1rem; /* Add width to limit the size of the clickable area */
  text-align: right; /* Align the symbol to the right */
  /*display: block;  Make it a block-level element */
  position: absolute; /* Absolute positioning */
  right: 1rem; /* Push it to the right edge of the parent button */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Centering adjustment */
}
:root {
  --my-pink: #d28383;
  --fantasy: #fbf3f3;
  --rose-fog: #e7bcbc;
  --rose-fog: #e1acac;
  --oyster-pink: #eccccc;
  --oyster-pink: #ecd4d4;
  --vanilla-ice: #f4dcdc;
  --dawn-pink: #f4e4e4;
  --vanilla-ice: #f4d4d4;
}
/* -------------------------------Accordian Ends here ----------------------- */

/* ------------------------------------Navbar---------------------------------- */
.card {
  color: #000;
}

.navbar-brand img {
  border-radius: 50%;
  height: 100%;
  margin-right: 10px;
}
.custombutton:hover {
  color: #fff;
  background-color: #9f1849;
}

.navbar {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  margin: 0px;
  height: 90px;
  width: 230px;
  position: relative;
  bottom: 0;
}

.card-img-top {
  width: 150px;
  height: auto;
}

.card-body {
  text-align: center;
  min-height: 250px;
}
/* --------------------------Navbar ends here------------------------------- */

/* -----------------------Emotion tracker buttons -----------------------------------------*/
h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #e1acac;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #e4cfcf;
}

.emoji {
  font-size: 1rem;
  margin-right: 0.5rem;
}

/* Center the emoji vertically and horizontally inside the button */
.emoji-button .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Custom CSS to make the buttons smaller */
.emoji-button {
  font-size: 1rem;
  margin: 0 auto;
  border: 2px solid transparent; /* Add transparent border */
  transition: transform 0.2s, background-color 0.2s, border-color 0.2s; /* Add border-color transition */
}

/* Custom CSS for the card */
.emoji-card {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Set the button border color on hover */
.emoji-button:hover {
  background-color: #eccccc;
  border-color: #e1acac;
  transform: scale(1.1);
}

.btn-success.emoji-button:hover {
  transform: scale(1.1);
}

/* Remove the default focus outline */
.emoji-button:focus {
  background-color: #eccccc;
  outline: none;
}
/* ---------------------------Emotion Tracker CSS ends here -----------------------------------*/
/*-------------------------carousel starts---------------------*/
body {
  background-color: #fffaf4;
}
.carousel-inner img {
  margin: 40px auto 0;
  max-width: 60%;
  height: auto;
}
/*-------------------------------------------carousel end----------------------------------*/

/*-----------------------------------footer starts-----------------------------------------*/
body {
  background-color: #f8f9fa;
  margin-left: 0;
}

.footer {
  background-color: #f4dcdc;
  color: #9f1849;
  padding: 20px;
}

.footer-logo {
  max-width: 100px;
  /* margin-bottom: 10px; */
  border-radius: 50%;
  margin-left: 70px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.footer-content h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content ul li {
  margin-bottom: 10px;
}

.footer-content a {
  text-decoration: none;
  color: #d28383;
  transition: color 0.3s ease;
}
.footer-content a:hover {
  color: #9f1849;
}

.social-icons i {
  font-size: 24px;
  margin-right: 10px;
}

.bg {
  margin: 0;
  padding: 10px 0;
  color: #9f1849;
}

.container {
  color: #9f1849;
  margin: 0 auto;
  margin-top: 0;
  max-width: 1200px;
  display: grid;
  flex-direction: column;
}
.foot {
  display: flex;
  flex-direction: row;
}
