* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  font-family: "Lato", sans-serif;
}

/* Add a background color to the paragraph */
p {
  font-size: 0.8rem;
  padding: 10px; /* Add some padding for spacing */
}

.accordion {
  max-width: 600px !important;
  margin: 50px auto;
  box-shadow: 0 2px 25px 0 --my-pink !important;
}

.accordion-button {
  background-color: var(--rose-fog) !important;
  color: #fff !important;
  position: relative;
  box-shadow: none !important;
}

.accordion-button:active,
.accordion-button:focus {
  border: none !important;
  background-color: var(--my-pink);
}

.accordion-button:hover {
  background: var(--my-pink) !important;
}

:root {
  --my-pink: #d28383;
  --fantasy: #fbf3f3;
  --rose-fog: #e7bcbc;
  --rose-fog: #e1acac;
  --oyster-pink: #eccccc;
  --oyster-pink: #ecd4d4;
  --vanilla-ice: #f4dcdc;
  --dawn-pink: #f4e4e4;
  --vanilla-ice: #f4d4d4;
}
.cardt {
  color: #000;
}
.navbar-brand img {
  border-radius: 50%;
  height: 100%;
  margin-right: 10px;
}
.navbar .btn {
  margin-right: 10px;
}
.joinus {
  color: #fff;
  background-color: #6a0c2e;
  border: 2px solid #6a0c2e;
}
.joinus:hover {
  color: #fff;
  background-color: #9f1849;
}
.navbar {
  padding: 0px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  margin: 0px;
  height: 90px;
  width: 230px;
}
.row {
  margin: 10px;
  padding: 10px;
}
.card-img-top {
  height: 126px;
  width: 150px;
}
.card-body {
  text-align: center;
  min-height: 250px;
}

/* Emotion tracker buttons */
h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #e1acac;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #e4cfcf;
}
.emoji {
  font-size: 1rem;
  margin-right: 0.5rem;
}

/* Custom CSS to make the buttons smaller */
.emoji-button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  align-items: center;
  justify-content: center;
}

/* Custom CSS for the card */
.emoji-card {
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: #e7bcbc;
  border-color: #e1acac;
  transition: ease-in 0.2s;
}

.btn:hover {
  background-color: #eccccc;
  border: none;
  transform: scale(1.1);
}

.emoji-button:focus {
  background-color: #eccccc; /* Set the desired background color when the button is clicked */
  outline: none; /* Remove the default focus outline */
}
